@import url("https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
.start-menu {
  width: 600px;
  height: 600px;
  border: 2px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #492491;
  margin: 0;
  gap: 50px;
}
label {
  position: relative;
  left: 0;
  font-size: 20px;
}
.game-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  color: white;
  padding-bottom: 40px;
  /* width: 100%; */
}
.game-settings input[type="text"],
.game-settings input[type="number"] {
  width: 90%;
  height: 50px;
  border-radius: 5px;
  border: 2px solid gray;
  outline: none;
  font-size: 20px;
  padding: 0 10px;
  background-color: transparent;
  color: white;
  transition: 0.3s;
}
.game-settings input[type="text"]:focus,
.game-settings input[type="number"]:focus {
  border: 2px solid white;
}
.game-size {
  display: none;
  background: transparent;
  height: 50px;
  width: 400px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  gap: 5px;
}
.button-play {
  position: relative;
  width: 50%;
  height: 50px;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #6231c4;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.button-play:hover {
  scale: 1.1;
}
.wrapper {
  display: flex;
  background: transparent;
  height: 50px;
  width: 400px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  /* box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2); */
}
.wrapper .option {
  background: transparent;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid gray;
  transition: all 0.3s ease;
  gap: 5px;
}
.wrapper .option .dot {
  height: 20px;
  width: 20px;
  background: gray;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #6231c4;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"] {
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2,
#option-3:checked:checked ~ .option-3,
#option-4:checked:checked ~ .option-4 {
  border-color: #6231c4;
  background: #6231c4;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot,
#option-3:checked:checked ~ .option-3 .dot,
#option-4:checked:checked ~ .option-4 .dot {
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before,
#option-3:checked:checked ~ .option-3 .dot::before,
#option-4:checked:checked ~ .option-4 .dot::before {
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span {
  font-size: 20px;
  color: gray;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span,
#option-3:checked:checked ~ .option-3 span,
#option-4:checked:checked ~ .option-4 span {
  color: #fff;
}

.game-container {
  position: relative;
  display: none;
  max-height: 600px;
  border-radius: 5px;
}
.squares {
  aspect-ratio: 1/1;
  border: 1px solid white;
  cursor: pointer;
  font-size: 25px;
  color: white;
}
.squares i {
  position: relative;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
.game-stats {
  width: 400px;
  height: 400px;
  border: 2px solid white;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: white;
  font-size: 20px;
}
.game-stats h2 {
  height: 20px;
}
.stat {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  height: 40px;
  background-color: #6231c4;
  padding-left: 5%;
  border-radius: 5px;
}
.stat button {
  width: 95%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  color: white;
}
.stat-left {
  width: 70%;
}
.stat-right {
  width: 25%;
  text-align: right;
}
